	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/03/2018 20:49
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-sprint:before { content: "\f100"; }
.flaticon-swimming-figure:before { content: "\f101"; }
.flaticon-ball-of-basketball:before { content: "\f102"; }
.flaticon-tennis:before { content: "\f103"; }
.flaticon-badminton:before { content: "\f104"; }
.flaticon-soccer-ball-variant:before { content: "\f105"; }
.flaticon-balls:before { content: "\f106"; }